html {
	height: 100%;
}

body {
	height: 100%;
}

/* Lightbox container */
#container-1 {
	width: 90%;
	height: 200px;
	margin: 40px auto 0 auto;
	background-color: #2980b9;
	color: white;
	text-align: center;
}

#container-inner {
	line-height: 200px;
}

/* Empty container that will replace the original container */
#empty-container {
	width: 100%;
	height: 200px;
	margin: 40px auto 0 auto;
}

#close {
	position: absolute;
	left: 20px;
	top: 20px;
	cursor: pointer;
	display: none;
}

.in-animation {
	animation: inlightbox 0.8s forwards;
	position: fixed !important;
	margin: 0 !important;
}

.out-animation {
	animation: outlightbox 0.8s forwards;
}

@keyframes inlightbox 
{ 
	50% { 
		width: 100%;
		left: 0;
		height: 200px;
	}
	100% {
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
	}
}