@charset "utf-8";
/* CSS Document */
body{
	position: relative;
	height: 100%;
    margin: 0;
    padding: 0;
}
.login {
	height: 736px;
	background-color:red;
	background-repeat: no-repeat;
    background-size: cover;
}
#map {
    height: 100%;
  }


@media only screen and (max-width: 736px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
	.nav {
		position: fixed;
		bottom: 0;
		width: 100%;
	}
	.home {
		height: 236px;
		vertical-align: center;
	}
}