@charset "utf-8";
/* CSS Document */
#one{
	color: black;
	font-family: 'Open Sans', sans-serif;
	background-image: linear-gradient(to bottom right, #DFD1C2, #d4bba0);
	text-shadow: none !important;
	
}
.h2.text-center{
	font-size: 1.7em;
	margin-top: 10%;
	color: black;
	font-family: 'Open Sans', sans-serif;
	text-shadow: none !important;
	
}
.ui-header.ui-bar-inherit{
	border: none;
	background: transparent !important;
}
.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset{
	border: none !important;
	border-bottom: 2px solid #d1232a !important;
	background-image: linear-gradient(to bottom right, #DFD1C2, #d4bba0);
	text-shadow: none !important;
	
}

.ui-btn.ui-input-btn.ui-corner-all.ui-shadow{
	
	color:black !important;
	background-image: linear-gradient(to bottom right, #D2BC7C, #C58D1E) !important;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
	border-color: #C58D1E !important;
	text-shadow: none !important;
}
.helptext{
	margin-top: 50%;
}
.herebutton.ui-link{
	color: #d1232a
}
@media only screen and (max-width: 736px) {
/* For mobile phones: */


/* Front page: */
#one{
	color: black;
	font-family: 'Open Sans', sans-serif;
	background-image: linear-gradient(to bottom right, #DFD1C2, #d4bba0);
	text-shadow: none !important;
	
}
.h2.text-center{
	font-size: 1.7em;
	margin-top: 10%;
	color: black;
	font-family: 'Open Sans', sans-serif;
	text-shadow: none !important;
	
}
.ui-header.ui-bar-inherit{
	border: none;
	background: transparent !important;
}
.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset{
	border: none !important;
	border-bottom: 2px solid #d1232a !important;
	background: none !important;
	text-shadow: none !important;
	box-shadow: none !important;
	
}

.ui-btn.ui-input-btn.ui-corner-all.ui-shadow{
	
	color:black !important;
	background-image: linear-gradient(to bottom right, #D2BC7C, #C58D1E) !important;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
	border-color: #C58D1E !important;
	text-shadow: none !important;
}
.helptext{
	margin-top: 50%;
}
.herebutton.ui-link{
	color: #d1232a
}

/* distinations list page: */

#two{
	color: black;
	font-family: 'Open Sans', sans-serif;
	background-image: linear-gradient(to bottom right, #DFD1C2, #d4bba0);
	text-shadow: none !important;
}
.glyphicon.glyphicon-chevron-left{
	color: black;
	font-size: 200%;

}
.jumbotron{
	background: transparent; 
	height: 30px;
	color: black;
	font-family: 'Open Sans', sans-serif;
}
.ui-content.ui-body-a{
	background: transparent;
}
.card{
	font-family: 'Open Sans', sans-serif;
	border: none;
	color: black;
	text-shadow: none !important;
	}
/* landing-page: */
	.landing-img{
		margin-top: 20%; 
	}
 .ui-page.ui-page-theme-a.ui-page-active{
	background-image: linear-gradient(to bottom right, #DFD1C2, #d4bba0);
 }


}

